APP_NAME=
APP_SECRET=
PORT=
APP_URL=
APP_URL_FRONT=
NODE_ENV=

WHITE_LIST=['http://localhost:3000']

SENDGRID_API_KEY=
SENDGRID_API_ID=
FROM_EMAIL=

DB_DIALECT=mysql
DB_HOST=127.0.0.1
DB_PORT=27017
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

DB_DIALECT_DEV=mysql
DB_HOST_DEV=127.0.0.1
DB_PORT_DEV=27017
DB_USERNAME_DEV=
DB_PASSWORD_DEV=
DB_DATABASE_DEV=

DB_DIALECT_TEST=mysql
DB_HOST_TEST=127.0.0.1
DB_PORT_TEST=27017
DB_USERNAME_TEST=
DB_PASSWORD_TEST=
DB_DATABASE_TEST=
